cogs/__pycache__/duel.cpython-312.pyc
__pycache__/config.cpython-312.pyc
.idea/ClashOfWits.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/.gitignore
cogs/__pycache__/battle_royale.cpython-312.pyc
__pycache__/database.cpython-312.pyc
.gitignore
